/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}


/* Navigation Scetion  */
#navbar {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: rgb(255, 217, 4);
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    z-index: 1;
}


.logo img {
    width: 50px;
    margin: 0px 0px 0px 13px;
    padding: 0px;
}



#navbar ul {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar ul li {
    list-style: none;
    padding: 8px 17px;
}
#navbar ul li a {
    font-size: 1.1rem;
    padding: 0px 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    transition-property: background-color color;
    transition-duration: .5s;
}
#navbar ul li a:hover,
#navbar ul li a:active {
    color: yellow;
    border-radius: 10px;
    background-color: black;
}

.icon {
    display: flex;
}
.icon img {
    width: 20px;
    padding: 0px .5rem;
}



/* Home Section  */
#home {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 28rem;
    width: 100%;
    margin-top: 7.5rem;
    padding-bottom: 3rem;
}
#home::before {
    content: "";
    position: absolute;
    background: url('../IMG/bg.jpg') no-repeat center center/cover;
    height:55rem;
    top:-117px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}


#home h1 {
    font-size: 3rem;
    margin-top: 2rem;
}
#home p {
    font-size: 1.5rem;
margin: 1rem;
}
#home button  {
    background-color: black;
    font-size: 1.2rem;
    padding: 0px 19px;
    margin-top: 1rem;
    border-radius: 18px;
    color: wheat;
    border: 2px solid wheat;
    font-weight: bold;
}
#home button:hover {
    background-color: orange;
    color: black;
}



/* Shop Section  */

#shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    background-color: orange;
}

#shop .container {
    background-color: blanchedalmond;
    margin: 15px 0px 30px 0px;
    padding: 12px 0px 20px 0px;
    flex-wrap: wrap;
}
.shop-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: box-shadow;
    transition-duration: .4s;
}

.shop-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px black;
    
} 
.shop-item img {
  padding: 10px 0px;
  width: 14.5rem;
}

.shop-text {
    margin: 0px;
    padding: 0px;
    color: black;
    font-weight: bold; 
    text-align: center;
}



    /* Gallery Section  */
#gallery {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: brown;
}

#gallery .container {
    background-color:wheat;
    flex-wrap: wrap;
    margin: 11px 0px 38px 0px;
    padding: 15px 0px 13px 0px;
}
.gallery-img {
    width: 20rem;
    margin: 14px 0px;
    padding: 3px;
    transition-property: box-shadow;
    transition-duration: .4s;
} 
.gallery-img:hover {
   cursor: pointer;
     box-shadow: 0px 0px 20px 0px black;
} 



/* Clint Section  */

#client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 16, 48);
}

#client .container {
    background-color: wheat;
    margin: 0px 0px 23px 0px;
    padding: 38px 0px;
    flex-wrap: wrap;
}
.client-item {
    width: 10rem;
    margin: 0px;
    padding: 0px;
}

/* Contact Section  */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(124, 63, 40);
}

#contact .separator {
    filter: contrast(20);
}

#contact .container {
   justify-content: space-around;
    margin: 10px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
    background-color: burlywood;
}

.contact-box {
    /* border: 2px solid red; */
    padding: 0px;
    margin-top: 10px;
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 1px;
    padding: 17px 100px;
    color: black;
}
.form input{
    padding: .1rem 2.5rem;
    margin: .1rem;
    border-radius: 14px;
}
textarea {
    border-radius: 14px;
}
.submit {
    background-color: rgb(47, 201, 240);
    font-size: 1rem;
    padding: 3px 25px;
    border-radius: 7px;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    font-weight: bold;
}

.submit:hover {
    background-color: rgb(0, 162, 255);
}

.address-text {
    color: black;
    text-align: center;
}

/* Socile Media Section  */
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
}

.social img {
    width: 2rem;
    margin: 0rem .5rem;
}

#i:hover {
    background-color:rgb(228, 22, 135);
    border-radius: 30px;
}
#f:hover {
background-color: blue;
border-radius: 30px;
}

#y:hover {
background-color: red;
border-radius: 10px;
}

/* Footer Section  */
#footer {
    background-color: black;
    color: white;
    padding: 19px;
    margin: 0px;
}
#footer p { 
    font-size: 1rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* Utility Section  */
.btn,
.icon img,
.logo {
    cursor: pointer;
}
.heading {
    font-size: 3rem;
    margin-top: 3rem;
}

.heading h1,
.item {
    /* padding: 0px;
    margin: 0px; */
    }

.container {
display: flex;
justify-content: space-evenly;
align-items: center;
width: 95%;
box-shadow: 0px 0px 20px 1px black;
}

.separator {
    filter:brightness(20);
    margin-bottom: 1rem;
}